.botaoVerde{
    background-color: #2CAD20;
    color: white;
    font-family: sans-serif;
    font-variant-caps: all-petite-caps;
    height: 54px;
}

.botaoCinza{
    width: 54px;
    height: 54px;
}

nav{
    background-color: #F9F9F9;
    font-family: sans-serif;
    
    font-size: 14pt;
    font-style: normal;
}